
<%= render 'shared/navbar2' %>

<div class="blog" style="margin-top: 6% ">
<p id="notice"><%= notice %></p>


<div class="blogs">
<div class="container">

  <h2 class="h1-responsive font-weight-bold text-center" style="margin-top: 4%;"> What's News</h2>

  <p class="text-center w-responsive mx-auto mb-5">Edge Schools has chosen not to have any social media pages. However, we will post 3 new blogs every month to keep you updated on <strong>What's News</strong>!</p>

  <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_copy_link"></a>
<a class="a2a_button_google_gmail"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->




<!-- admin ones -->

<hr>
<div class="container blogcards">
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="cardi col-md-12 p-3">
        <div class="row ">
          <div class="col-md-4">
            <div class="blogimages img-fluid" style=" max-width: 100%; height: auto;">
           <%= cl_image_tag blog.photo %>
          </div>
        </div>
          <div class="col-md-8">
            <div class="card-block">
              <h6 class="card-title h6-responsive"><%= blog.title %></h6>
                <h5> <%= blog.created_at.strftime('%b %d, %Y') %> </h5>
          </br>
              <div>
              </div>
            </div>


 <span class="more">
 <%= blog.body %>
       <br>
       <br>
 <%= blog.paragraph2 %>
       <br>
       <br>
 <%= blog.paragraph3 %>
       <br>
       <br>
<%= blog.paragraph5 %>
  </span>


          </div>
        </div>
           <!--  <hr> -->
      </div>
    </div>
  <% end %>
</div>
</div>


<hr>


<!--BLOG 1 videos-->
<div class="container video blogss">
    <div class="row">
      <div class="cardi col-md-12 p-3">
        <div class="row ">
          <div class="col-md-4 vid">
<%= video_tag(["video 3.mp4"], :autoplay => false, :loop => false, :controls => true, muted: false) %>
</div>

          <div class="col-md-8">
            <div class="card-block">
              <h6 class="card-title">Our Gap Year Programme</h6>
                <h5>By: Sim</h5>
                <h5>6 April 2019</h5>
          </br>
<span class="more">
 According to Stats SA, South Africa's unemployment rate is high for both youth and adults; however, the unemployment rate amongst young people aged 15–34 was 38,2%. This means that more than one in every three young people in the labour force did not have a job in the first quarter of 2019. </br>
</br>

These figures are alarming, especially since we all know that idle hands often lead to unethical behaviours. </br></br>

And so in an attempt to play our part as a small business in the city, we have partnered with an NGO to develop and facilitate a Gap Year programme that sees 10 young people develop their soft skills through leadership training; their hard skills through weekly practical skills workshops and their civil responsibility through volunteering. </br></br>

The first 2 months have been a great success. We look forward to the remaining 8 months.
Below you can view our programme overview; these hands will definitely not be idle for a while 😊 </br></br>

</span>
 </br>
 <button type="button" class="btn btn-outline-dark text-center" data-toggle="modal" data-target="#basicExampleModall1">
            Programme flyer
          </button>

          <!-- Modal -->
          <div class="modal fade text-center" id="basicExampleModall1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
           <%= image_tag 'blog1flyer.jpg', width: "110%", height: "120%"%>
         </div>
       </div>
     </div>


              <div>
          </div>
        </div>


              </div>
            </div>
          </div>
        </div>
      </div>


<!--BLOG 2-->
<div class="container video">
    <div class="row">
      <div class="cardi col-md-12 p-3">
        <div class="row ">
          <div class="col-md-4 vid">
<%= video_tag(["video 2.mp4"], :autoplay => false, :loop => false, :controls => true, muted: false) %>
</div>

          <div class="col-md-8">
            <div class="card-block">
              <h6 class="card-title">Literacy & Edge Schools</h6>
                <h5>By: Chanel</h5>
                <h5>4 April 2019</h5>
          </br>
<span class="more">

 Hello everyone,</br>
</br>

Literacy is a huge concern for many countries and for South Africa, with 55% of the population living in poverty, this is no exception. Unesco lists South Africa as having a literacy rate of 93% but‚ beyond the mechanical ability to identify words‚ the picture is much bleaker. According to research by the University of Pretoria‚ eight out of 10 Grade 4 pupils “still cannot read at an appropriate level”. </br></br>

Edge Schools has recognised this issue and is in the process of establishing partnership with Shine Literacy to bring their programme to some of the NGOs we work with. </br></br>

The leadership training that we do with our partner NGOs requires a certain level of literacy. We found that there was a gap in having the learners understand some of the material covered and therefore felt limited in facilitating the full benefits of the programme.</br></br>

That is where the Literacy Programme comes in. Once a week after school, Edge Schools will work with the various NGOs to facilitate growth in the learners level of Literacy. The focus will be on building vocabulary, learning proper phonetics, building comprehension and knowledge of parts of speech, encouraging reading and also providing an emotional outlet through creative writing.  </br></br>

This is all possible because of the people who have come alongside us to help us develop a curriculum that suits our partner NGOs. Wise Eye Reading Academy will provide reading assessments and Shine Literacy will provide support for our facilitators / teaching assistants.</br></br>

By the end of this year Edge Schools hopes to have made a meaningful dent in these young leaders ability to read because “The more you read, the more you’ll know. The more you learn, the more places you’ll go!”</br></br>

Signing off, </br></br>

Chanel Smither </br></br>

</span>

              <div>
          </div>
        </div>
</br>

         <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#basicExampleModal">
            Programme flyer
          </button>

          <!-- Modal -->
             <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
           <%= image_tag 'literacy.jpg', width: "110%", height: "120%"%>


    </div>
       </div>
     </div>


              <div>
          </div>
        </div>


              </div>
            </div>
          </div>
        </div>
      </div>


<!--BLOG3-->

<div class="container video">
    <div class="row">
      <div class="cardi col-md-12 p-3">
        <div class="row ">
          <div class="col-md-4 vid">
<%= video_tag(["video 1.mp4"], :autoplay => false, :loop => false, :controls => true, muted: false) %>
</div>

          <div class="col-md-8">
            <div class="card-block">
              <h6 class="card-title">Our Au Pair Programme</h6>
                <h5>By: Ulli</h5>
                <h5>01/2/2019</h5>
          </br>


<span class="more">
Our vision is to see young people gaining experience and learning valuable skills through international exchange programmes. </br>
</br>

This in return will facilitate opportunities for young men & women to work as childcare counsellors in the USA and the other parts of the world.</br></br>



</span>

              <div>
          </div>
        </div>
</br>

        <button type="button" class="btn btn-outline-dark text-center" data-toggle="modal" data-target="#basicExampleModall">
            Programme flyer
          </button>

          <!-- Modal -->
          <div class="modal fade text-center" id="basicExampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
           <%= image_tag '1.jpg', width: "110%", height: "120%"%>
          </div>
       </div>
     </div>


              <div>
          </div>
        </div>


              </div>
            </div>
          </div>
        </div>
      </div>








