
<%= render 'shared/navbar2' %>

<div class="blog" style="margin-top: 6% ">
<p id="notice"><%= notice %></p>


<div class="blogs">
<div class="container">

  <h2 class="h1-responsive font-weight-bold text-center my-5"> What's News</h2>

  <p class="text-center w-responsive mx-auto mb-5">Discover what we are up to</p>



<!--blogs -->
<hr>
<div class="container blogcards">
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="cardi col-md-12 p-3">
        <div class="row ">
          <div class="col-md-4">
            <div class="blogimages">
           <%= cl_image_tag blog.photo %>
          </div>
        </div>
          <div class="col-md-8">
            <div class="card-block">
              <h6 class="card-title"><%= blog.title %></h6>
                <h5> <%= blog.created_at.strftime('%b %d, %Y') %> </h5>
          </br>
              <div>
              </div>
            </div>


 <span class="more">
 <%= blog.body %>
       <br>
       <br>
 <%= blog.paragraph2 %>
       <br>
       <br>
 <%= blog.paragraph3 %>
       <br>
       <br>
  <%= blog.paragraph4 %>
       <br>
       <br>
  <%= blog.paragraph5 %>
  </span>


          </div>
        </div>
           <!--  <hr> -->
      </div>
    </div>
  <% end %>
</div>
</div>



