<div class="container pictures">
      <h2> Select the Programme That meets your needs </h2>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                      <%= link_to image_tag("program1.jpg", height: 100 ), leadership_path %>
                    </a>
                    <ul class="social">
                    </ul>
                    <a href="/pages/leadership" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Leadership Development</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                      <%= link_to image_tag("home1.jpg", height: 100 ), adventure_path %>
                    </a>
                    <ul class="social">
                    </ul>
                     <a href="/pages/adventure" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Adventure Camps</a></h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                      <%= link_to image_tag("prpgram2.jpg", height: 100 ), capacity_path %>
                    </a>
                    <ul class="social">
                    </ul>
                     <a href="/pages/capacity" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Capacity Building</a></h3>
                </div>
            </div>
        </div>

                <div class="col-md-4 col-sm-6">
            <div class="product-grid5 image8">
                <div class="product-image5">
                    <a href="#">
                      <%= link_to image_tag("civildiscourse.jpg", height: 100 ), civil_path %>
                    </a>
                    <ul class="social">
                    </ul>
                     <a href="/pages/civil" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Civil Discourse</a></h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="product-grid5 image8">
                <div class="product-image5 ">
                    <a href="#">
                      <%= link_to image_tag("home2.jpg", height: 100 ), social_path %>
                    </a>
                    <ul class="social">
                    </ul>
                   <a href="/pages/social" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Social Initiatives</a></h3>
                </div>
            </div>
        </div>
    </div>
  </div>
