<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5" style="margin-bottom: -5%">
  <i class="fas fa-arrow-left"></i> <%= link_to "Go Back to All Programs", whatweoffer_path %>
</div>

<div class="container program">
</br>
</br>
</br>
<h2> Adventure Camps </h2>

<ul class='circle-container' style="margin-top: 250px; margin-bottom: 250px;">
  <li><%= image_tag'adventure1.jpg'%></li>
  <li><%= image_tag'adventure2.JPG' %></li>
  <li><%= image_tag'adventure3.JPG'%></li>
  <li><%= image_tag'adventure4.JPG' %></li>
  <li> <%= image_tag'adventure5.JPG'%></li>
  <li><%= image_tag'adventure6.JPG' %></li>
  <li><%= image_tag'adventure7.jpg' %></li>
  <li><%= image_tag'adventure8.JPG' %></li>
  <li><%= image_tag'adventure9.JPG' %></li>
</ul>


<div class="container adventurecamping">
  <div class="adventurecamp1">
    <div class="row">
      <div class="col-lg-4"><h1 class="circle">What?</h1></div>
      <div class="col-lg-8"><h3> Adventure Camps are where students learn about themselves, their peers and the natural worlg around them. It is a space where they can face their fears, try new things, push their boundaries and reach new heights.</h3></div>
    </div>

    <div class="row">
      <div class="col-lg-4 "><h1 class="circle"> Why?</h1></div>
      <div class="col-lg-8"><h3> We believe that individuals learn the most, and are most creative, when they are having fun. It is for this reason that all activities and their outcomes on camp are designed around having fun in teams and as a group.</h3></div>
    </div>

    <div class="row">
      <div class="col-lg-4 "><h1 class="circle"> Who?</h1></div>
      <div class="col-lg-8"> <h3> Participants on our grade camps can range from Grade 4 to post matrics.</h3></div>
    </div>

  </div>
</div>

</div>
