
<script src="//www.powr.io/powr.js?external-type=html"></script>


<%= render 'shared/navbar2' %>

<div class="container-fluid text-center contactando">

<!-- <div class="container-fluid bannercontacto">
</div> -->


<h1> Contact Us !</h1>
<hr>
<br>

<p> We are here to answer any questions. </p>


<h3> info@edgeschools.co.za </h3>

<br>
<h3>Phone Number </h3>
<p>0768200059<p>

<br>

<h3>Social Media</h3>

<p>Youtube: EdgeSchools</p>

<p>Instagram: @edgeschools</p>

<p>Twitter: @edgeschools</p>

</br>
</br>

<div class="socialmedias">
   <a href="https://www.facebook.com/donayremarco/"><%= image_tag "f.png", height: 50 %></i></a>
    <a href="https://www.instagram.com/donayre.marco/"><%= image_tag "i.png", height: 50 %></a>
    <a href="#"><%= image_tag "t.png", height: 50 %></a>
    <a href="#"><%= image_tag "l.png", height: 50 %></a>
  </div>

<br>


        <!-- Form with header -->
        <div class="powr-contact-form" id="be7632ed_1552402251" ></div>

       <!--    <h1>contact us</h1>
          <h3>For more info or enquiries, please contact us on the details provided below.</h3>
          <h5>Tel: 076 8200059  |  Email: info@edgeschools.co.za</h5>
          <div class="card-body" style="background-color: #ADAAAA;">

            <div id="contact">
              <%#= form_for Message.new do |f| %>
              <%#= f.text_field  :name, required: true, placeholder: 'name', class: "contact-form-text-area" %></br>
              <%#= f.text_field :email, required: true, placeholder: 'email', class: "contact-form-text-area" %></br>
              <%#= f.text_area :message, rows: 6, cols: 40, required: true, class: "contact-form-text-area",
              placeholder: "Send me a message"%></br>

              <%#= f.submit 'Send Message', class: 'btn btn-primary btn-block' %>

              <%# end %>
              <div  id="flash-message">
                <%#= render 'shared/flash' %>
              </div>
            </div>
          </div> -->
          <!-- Grid column -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
      </div>


