

<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">

<%= render 'shared/navbar' %>

<div class="container-fluid background">
<div class="container title">
  <h1>INSPIRING LEADERS TO REALIZE THEIR POTENTIAL </h1>
</div>

<div class="container">
<div class="imagehome">

<div class="img-thumbnail picture1">
  <%= image_tag "home2.jpg", height: 400 %>
</div>
<div class="img-thumbnail picture2">
  <%= image_tag "homepage2.JPG", height: 390 %>
</div>
<div class="img-thumbnail picture3">
  <%= image_tag "homepage3.jpg", height: 410 %>
</div>

</div>
</div>
</div>

<div class="container is">
<div class="chalk"> <%= image_tag "chalk.png", height: 50 %> </div>
  <h3> Edge Schools is a Human Development Company which facilitates tailored training programmes for schools and organizations.</h3>
 <div class="chalk1"> <%= image_tag "chalk.png", height: 50 %> </div>
</div>

<div class="container iss">
   <h3>  We are passionate about seeing desired change in individuals of all ages and backgrounds. </h3>
 </div>

<div class= "container">
   <div class="text-center video-container">
   <iframe width="750" height="450" src="https://www.youtube.com/embed/LtUVGRkSmqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
 </div>



<%= render 'shared/programs' %>
</div>




