

<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">

<%= render 'shared/navbar' %>

<div class="container-fluid background">
<div class="container title">

</br>
  <h1>INSPIRING LEADERS TO REALIZE THEIR POTENTIAL </h1>

  <div class="chalk"> <%= image_tag "chalk.png", height: 50 %> </div>
  <h3> Edge Schools is a Human Development Company which facilitates tailored training programmes for schools and organizations. We are passionate about seeing desired change in individuals of all ages and backgrounds. </h3>
    <div class="chalk1"> <%= image_tag "chalk.png", height: 50 %> </div>
</div>

</br>


<div class="container">
<div class="imagehome">
<div class="img-thumbnail picture1">
  <%= image_tag "home2.jpg", height: 400 %>
</div>
<div class="img-thumbnail picture2">
  <%= image_tag "image1.jpeg", height: 390 %>
</div>
<div class="img-thumbnail picture3">
  <%= image_tag "home1.jpg", height: 410 %>
</div>
</div>
</div>

</div>

</br>
</br>

<!--

<div class= "container">
  <div class="header-container">
   <div class="text-center video-container">

   <iframe width="560" height="315" src="https://www.youtube.com/embed/4xDEv6ehc4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
 </div>


  </div>
</div>
</div> -->


<div class="container pictures" style="
    margin-top: 40%;
">
      <h2> Choose the Programme That's Right for You </h2>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                          <%= image_tag "home2.jpg", height: 100 %>
                    </a>
                    <ul class="social">
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Leadership Development</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                      <%= image_tag "home1.jpg", height: 100 %>
                    </a>
                    <ul class="social">
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Career Guidance</a></h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                          <%= image_tag "home2.jpg", height: 100 %>
                    </a>
                    <ul class="social">
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Team Building</a></h3>
                </div>
            </div>
        </div>

                <div class="col-md-4 col-sm-6">
            <div class="product-grid5 image8">
                <div class="product-image5">
                    <a href="#">
                         <%= image_tag "home1.jpg", height: 100 %>
                    </a>
                    <ul class="social">
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Study Skills Program</a></h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="product-grid5 image8">
                <div class="product-image5 ">
                    <a href="#">
                         <%= image_tag "home2.jpg", height: 100 %>
                    </a>
                    <ul class="social">
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> View Program</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Social Initiative</a></h3>
                </div>
            </div>
        </div>
    </div>
<hr>




