<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5" style="margin-bottom: -5%">
  <i class="fas fa-arrow-left"></i> <%= link_to "Go Back to All Programs", whatweoffer_path %>
</div>

<div class="container program">
  <h2> Capacity Building </h2>

<div class="row">
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle", width: "100%", height: "auto" %></div>
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle", width: "100%", height: "auto" %></div>
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle", width: "100%", height: "auto" %></div>
</div>

<div class="row justify-content-around">
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle ", width: "100%", height: "auto" %></div>
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle ", width: "100%", height: "auto" %></div>
</div>

<div class="row">
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle", width: "100%", height: "auto" %></div>
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle", width: "100%", height: "auto" %></div>
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle", width: "100%", height: "auto" %></div>
</div>

<div class="row justify-content-around">
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle ", width: "100%", height: "auto" %></div>
  <div class="col-lg-4"><%= image_tag'image9.jpeg', class: "rounded-circle ", width: "100%", height: "auto" %></div>
</div>

  <div class="row">
  <div class="col-lg-4"><h1>What?</h1></div>
  <div class="col-lg-8"><h3>The Leadership Development Programme is designed to equip and empower all current and future leaders with effective personal and team skills.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1>Why?</h1></div>
  <div class="col-lg-8"><h3>The desired learning outcome is that these developed skills can drive individuals, their teams and their school or organisation forward.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1>Who?</h1></div>
  <div class="col-lg-8"> <h3>Participants of this programme can range from Grade 6 learners up to adult aged individuals working within an organisation.
</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1>How?</h1></div>
  <div class="col-lg-8"><h3>All topics covered are facilitated through experiential learning exercises that range in physical and cognitive involvement.</h3></div>
  </div>

</div>
