<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5" style="margin-bottom: -5%">
  <i class="fas fa-arrow-left"></i> <%= link_to "Go Back to All Programs", whatweoffer_path %>
</div>

<div class="container program">
  <h2> Social Initiatives </h2>

  <%= image_tag'image9.jpeg', class: "programsss" %>

  <h3> Edge Schools collaborates with a variety of NGOs in the Durban area to facilitate programmes that promote leadership development and social change.  </h3>

</div>


<div class="container">
  <div class="row">
    <div class="col-lg-6">
                <div class="row">    <!-- Grid column -->
               <%= link_to image_tag("nicole.png", height: "220", width: "430" )%>
             </br>
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <!-- Grid column -->
              <h4 class="font-weight-bold dark-grey-text mt-5">iThemba Lethu</h4>
            <div class="row">
            <!-- Grid column -->
              <!-- Excerpt -->
              <div class="d-flex justify-content-between">
                <div class="col-11">
                  <ul>
                    <li class="listsize">Leadership Development Programme (grade 5s to 9s)</li>
                    <li class="listsize">Hockey Programme (grade 8s&9s)</li>
                    <li class="listsize">Providing volunteers to help at the Babys Home</li>
                  </ul>
                </div>
              </div>

            </div>
    </div>
    <div class="col-lg-6">
                <div class="row mt-5">    <!-- Grid column -->
               <%= link_to image_tag("city.jpg", height: "220", width: "400" )%>
             </br>
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <!-- Grid column -->
              <h4 class="font-weight-bold dark-grey-text mt-5">City Celebration</h4>
            <div class="row">
            <!-- Grid column -->
              <!-- Excerpt -->
              <div class="d-flex justify-content-between">
                <div class="col-11">
                  <ul>
                    <li class="listsize">Providing volunteers to teach dance classes in primary schools</li>
                  </ul>
                </div>
              </div>

            </div>
    </div>
  </div>

    <div class="row">
    <div class="col-lg-6">
                <div class="row mt-5">    <!-- Grid column -->
               <%= link_to image_tag("domino_logo.png", height: "220", width: "430" )%>
             </br>
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <!-- Grid column -->
              <h4 class="font-weight-bold dark-grey-text mt-5">Domino Foundation</h4>
            <div class="row">
            <!-- Grid column -->
              <!-- Excerpt -->
              <div class="d-flex justify-content-between">
                <div class="col-11">
                  <ul>
                      <li class="listsize">Leadership Development (grade 6s&7s)</li>
                  </ul>
                </div>
              </div>

            </div>
    </div>
    <div class="col-lg-6">
                <div class="row mt-5">    <!-- Grid column -->
               <%= link_to image_tag("lily.png", height: "220", width: "430" )%>
             </br>
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <!-- Grid column -->
              <h4 class="font-weight-bold dark-grey-text mt-5">Lily of the valley </h4>
            <div class="row">
            <!-- Grid column -->
              <!-- Excerpt -->
              <div class="d-flex justify-content-between">
                <div class="col-11">
                  <ul>
                   <li class="listsize">Study Skills Support</li>
                    <li class="listsize">Sport Programme</li>
                    <li class="listsize">Providing volunteers to help with after school programmes</li>
                  </ul>
                </div>
              </div>

            </div>
    </div>
  </div>

    <div class="row">
    <div class="col-lg-6">
                <div class="row mt-5">    <!-- Grid column -->
               <%= link_to image_tag("keyofhope.png", height: "180", width: "330" )%>
             </br>
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <!-- Grid column -->
              <h4 class="font-weight-bold dark-grey-text mt-5">Key of Hope</h4>
            <div class="row">
            <!-- Grid column -->
              <!-- Excerpt -->
              <div class="d-flex justify-content-between">
                <div class="col-11">
                  <ul>
                     <li class="listsize">Matric Support Programme</li>
                    <li class="listsize">Year of Your Life Gap Year Programme</li>
                    <li class="listsize">Literacy Programme</li>
                  </ul>
                </div>
              </div>

            </div>
    </div>

  </div>
</div>




