
<%= render 'shared/navbar' %>
<div class="coverabout" >
  </br>

  <h1 class="whowearetitle">About us</h1>

</div>


<div class="container-fluid aboutcontainer">
  <div class="container part1" style="margin-top: 150px;">
    <div class="row mt-6">
      <div class="col-sm-12 col-md-6 col-lg-6 philosophy">
        <h1>Our Philosophy</h1>
        <h4>Edge Schools was founded in 2006 on the sound belief that an individual’s growth and ability to change is hardly ever a mere factor of chance. It is often the result of forces working together diligently to translate learning into action.</h4>
        <br>
        <h4>We believe in the power of good leadership and its ability to transform schools, organizations and whole communities.</h4>
        <br>
        <h4>We seek to develop and disseminate an entirely new paradigm and practice of collaboration with our clients, by working towards the common goal of developing leaders and facilitating societal wellbeing. </h4>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pic">
        <div class="img-thumbnail">
        <div class="img-thumbnail whoweare1">
        <%= image_tag'Our Philosophy.jpg', class: "imagepic" %>
      </div>
    </div>
      </div>
    </div>
  </div>

<br>
<br>
<hr>
<br>

  <div class="container part1 bigonly"style="margin-top: 50px;">
      <div class="row mt-6">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="img-thumbnail">
          <div class="img-thumbnail whoweare1">
         <%= image_tag'Our Vision.jpg', class: "imagepic1" %>
        </div>
      </div>
      </div>
        <div class="col-sm-12 col-md-5 col-lg-5 ml-3 vision" >
          <h1 style="padding-top:9%;">Our Vision</h1>
          <h4>We desire to see individuals go through our programmes and walk away knowing their potential as leaders, while fostering a spirit of team unity and collaboration. </h4>
        </div>


      </div>
  </div>

    <div class="container mobileonly"style="margin-top: 50px;">
      <div class="row mt-6">
        <div class="col-sm-12 col-md-5 col-lg-5 ml-3 " >
          <h1>Our Vision</h1>
          <h4>We desire to see individuals go through our programmes and walk away knowing their potential as leaders, while fostering a spirit of team unity and collaboration. </h4>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mobilevision">
          <div class="img-thumbnail">
          <div class="img-thumbnail whoweare1">
         <%= image_tag'Our Vision.jpg', class: "imagepic1" %>
        </div>
      </div>
      </div>


      </div>
  </div>

<br>
<br>
<br>
<hr>
<br>

  <div class="container part1" style="margin-top: 50px;">
      <div class="row mt-6">
        <div class="col-sm-12 col-md-6 col-lg-6 team">
          <h1>Our Team.</h1>
          <h4>Edge Schools has a diverse team of full time staff as well as part time facilitators. All our facilitators are well trained, passionate individuals who have a background in Psychology, Education and Development Studies. </h4>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="img-thumbnail">
            <div class="img-thumbnail whoweare2">
         <%= image_tag'Our Team.jpg', class: "imagepic2" %>
        </div>
      </div>


         <div class="img-thumbnail whoweare3">
         <%= image_tag'team1.JPG', class: "imagepic2" %>
      </div>



       <div class="img-thumbnail whoweare4">
         <%= image_tag'team2.JPG', class: "imagepic2" %>
      </div>



      </div>
      </div>
  </div>

</div>

