
<%= render 'shared/navbar' %>
<div class="coverabout" >
  </br>
    <div class="chalk"> <%= image_tag "chalk.png",  height: 50 %> </div>
  <h1> Who We Are </h1>
  <div class="chalk"> <%= image_tag "chalk.png", height: 50 %> </div>
</div>


<div class="container-fluid aboutcontainer">
  <div class="container part1" style="margin-top: 150px;">
    <div class="row mt-6">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h1>Our Philosophy</h1>
        <h4>Edge Schools was founded in 2006 on the sound belief that an individual’s growth and ability to change is hardly ever a mere factor of chance. It is often the result of forces working together diligently to translate learning into action.</h4>
        <br>
        <h4>We believe in the power of good leadership and its ability to transform schools, organizations and whole communities.</h4>
        <br>
        <h4>We seek to develop and disseminate an entirely new paradigm and practice of collaboration with our clients, by working towards the common goal of developing leaders and facilitating societal wellbeing. </h4>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pic">
        <%= image_tag'image1.jpeg', class: "imagepic" %>
      </div>
    </div>
  </div>

</br>

  <div class="container part1"style="margin-top: 50px;">
      <div class="row mt-6">

        <div class="col-sm-12 col-md-6 col-lg-6">
         <%= image_tag'image9.jpeg', class: "imagepic1" %>
        </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
          <h1>Our Vision</h1>
          <h4>We desire to see individuals go through our programmes and walk away knowing their potential as leaders, while fostering a spirit of team unity and collaboration. </h4>
        </div>
      </div>
  </div>

</br>

  <div class="container part1" style="margin-top: 50px;">
      <div class="row mt-6">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h1>Our Team.</h1>
          <h4>Edge Schools has a diverse team of full time staff as well as part time facilitators. All our facilitators are well trained, passionate individuals who have a background in Psychology, Education and Development Studies. </h4>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
         <%= image_tag'home2.jpg', class: "imagepic2" %>
        </div>
      </div>
  </div>

</div>

