<script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>

<%= render 'shared/navbar2' %>


<div class="container photoalbum">
  <h1> <%= @album.title %> </h1>
   <h2> <%= @album.description %></h2>
   <h2> Updated at : <%= @album.updated_at.strftime('%b %d, %Y') %> </h2>

</div>

<div class="container">
  <div class="row">
    <% @album.photos.each do |photo| %>
  <div class="col-md-3 col-sm-12">
    <div class="product-grid2">
        <div class="product-image3">
          <a href="#" data-toggle="modal" data-target="#exampleModal"> <%= cl_image_tag photo.photo %></a>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
           <!--  <div class="modal-body"> -->
              <%= cl_image_tag photo.photo %>
          <!--   </div> -->

          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
