<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5">
   <a href="/albums"><%= image_tag "back.png", height: 20, style: "margin-left: 2%; margin-top: 2%;" %></a>
</div>


<div class="container photoalbum">
  <h1> <%= @album.title %> </h1>
   <h2> <%= @album.description %></h2>
   <h2> Updated: <%= @album.updated_at.strftime('%b %d, %Y') %> </h2>

</div>


<div class="container" style="margin-bottom:100px !important;">
  <div class="row">
<div id="gallery">
            <% @album.photos.each do |photo| %>
            <div class="col-lg-3 col-md-4 col-xs-6 photo">
                <a href class="thumbnail" target="_blank" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#image-gallery" style=" height: 183px; width: 98%;
"> <%= cl_image_tag photo.photo, class: "zoomin" %></a>
                </a>
            </div>
             <% end %>
          </div>
        </div>
      </div>




<!--         <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>

                    <div class="modal-body">
                     <% @album.photos.each do |photo| %>
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                         <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                          data-target="#image-gallery-<%= photo.id %>">  <%= cl_image_tag photo.photo %> </a>
                       <% end %>
                    </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
  </div>
</div>





