<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edge School</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

<title> Edge School - <%= content_for?(:title) ? yield(:title) : 'Leadership School, South Africa.' %> </title>
  <meta property="og:title" content="Leadership school in South Africa" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.edgeschools.com/" />
  <!-- <meta property="og:image" content="https://res.cloudinary.com/deruwllkv/image/upload/v1543507367/igf6xdwrgmicvhksckur.png" /> -->
  <!-- <meta property="og:description" content="Lavy is here to simplify your life. | Pick up and Delivery. | Outsource your laundry. " />
  <meta property="og:site_name" content="Lavy" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Laundry, pick up & delivery. | Buenos Aires.">
  <meta name="twitter:description" content="Lavy is here to simplify your life. | Pick up and Delivery. | Outsource your laundry. ">
  <meta name="twitter:image:src" content="https://res.cloudinary.com/deruwllkv/image/upload/v1543507367/igf6xdwrgmicvhksckur.png"> -->
  <%= favicon_link_tag asset_path('logotransparent.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <!--Font Awesome-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true, async: true %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= render 'shared/footer' %>


<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+27 76 820 0059", // WhatsApp number
            email: "info@edgeschools.co.za", // Email
            call_to_action: "Any questions?", // Call to action
            button_color: "#000000", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "email,whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();

</script>
</body>
  </body>
</html>
